#Database config
#ip port databasename
DATABASE localhost 5984 p8slowcontrollog

#Log_Name Log_Filename
LOGFILE temperaturelog ./temperature
LOGFILE coillog ./coil_readings

#Instrument_Name IP_Address GPIB_Address
INSTRUMENT	LS340	10.0.0.4	4
INSTRUMENT  	LS218S  10.0.0.4	2
INSTRUMENT	LS475	10.0.0.4	3
INSTRUMENT  E3631A	10.0.0.3	1
INSTRUMENT      K7000   10.0.0.3        7
INSTRUMENT      K199    10.0.0.3       26 noidn

#Sensor Name Instument Command Min_log_time Max_log_time Min_recorded_change units logfile
#SENSOR	coil_temp_resist "LS340:? SRDG? B"	10.0	600.0	0.05 Ohms temperaturelog
#SENSOR	coil_temp		 "LS340:? KRDG? B"	10.0	600.0	0.10 K temperaturelog
#SENSOR	amp_temp_resist	 "LS340:? SRDG? A"	10.0	600.0	0.05 Ohms temperaturelog
#SENSOR	amp_temp		 "LS340:? KRDG? A"	10.0	600.0	0.10 K temperaturelog
SENSOR	field			 "LS475:? RDGFIELD?"	10.0	600.0	0.1 G coillog
SENSOR  coil_voltage	 "E3631A:? MEAS:VOLT? P6V" 10.0 600.0 0.01 Volts coillog
SENSOR  coil_current	 "E3631A:? MEAS:CURR? P6V" 10.0 600.0 0.01 Amps coillog
SENSOR_CAL   coil_temp		 "LS340:? SRDG? B"	10.0	600.0	0.10 Volts temperaturelog cernox01916.calib
SENSOR_CAL   amp_temp		 "LS340:? SRDG? A"	10.0	600.0	0.10 Volts temperaturelog cernox43022.calib
SENSOR_CAL   coldfinger_temp		 "LS218S:? SRDG? 1"	10.0	600.0	0.10 Volts temperaturelog cernox01913_ls218.calib
SENSOR_CAL   coldhead_temp		 "LS218S:? SRDG? 2"	10.0	600.0	0.10 Volts temperaturelog cernox33122_ls218.calib
#LT2
SENSOR_CAL  magnet_pressure        "K7000: open all;K7000: close (@1!3);K199:? R3T5X" 10.0 10.0 0.05 Volts coillog pirani.calib
#RT2
SENSOR_CAL  bore_pressure        "K7000: open all;K7000: close (@1!4);K199:? R3T5X" 10.0 10.0 0.05 Volts coillog pirani.calib
#SENSOR_CAL  channel_1        "K7000: open all;K7000: close (@1!1);K199:? R3T5X" 10.0 10.0 0.05 Volts coillog
#SENSOR_CAL  channel_2        "K7000: open all;K7000: close (@1!2);K199:? R3T5X" 10.0 10.0 0.05 Volts coillog
#SENSOR_CAL  channel_3        "K7000: open all;K7000: close (@1!3);K199:? R3T5X" 10.0 10.0 0.05 Volts coillog
#SENSOR_CAL  channel_4        "K7000: open all;K7000: close (@1!4);K199:? R3T5X" 10.0 10.0 0.05 Volts coillog
